@font-face {
  font-family: "LXGW";
  src: url("../fonts/LXGWWenKaiGBScreenR.ttf") format("truetype");
}

@font-face {
  font-family: "SmileySans";
  src: url("../fonts//SmileySans-Oblique.ttf") format("truetype");
}

:root {
  font-family: "LXGW", ui-sans-serif, "ui-sans-serif override", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 999;
}

.dark::view-transition-old(root) {
  z-index: 999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
